/*Common CSS for all*/
body{
	margin: 0px;
	padding: 0px;
}
body *{
	box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6,p{
	margin: 0px;
}
a{ 
	text-decoration: none;
	display: inline-block;
}
ul{
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}
li{
	display: inline-block;
}
.custom_container{
	width: 1140px;
	max-width: 100%;
	padding: 0px 15px;
	margin: 0px auto;
}
/*input box size*/
.mdc-text-field--outlined .mdc-notched-outline--upgraded .mdc-floating-label--float-above,
.mdc-select--outlined .mdc-notched-outline--upgraded .mdc-floating-label--float-above {
	transform: translateY(-80%) scale(0.75)!important;
}
.mdc-text-field,
.mdc-select {
	height: 35px!important;
}
.mdc-text-field--outlined .mdc-floating-label,
.mdc-select--outlined .mdc-floating-label {
	top: 8px!important;
}
.mdc-select__dropdown-icon{
	bottom: 6px!important;
}
.mdc-select__native-control{
	height: 100%!important;
	padding: 5px 52px 5px 16px!important
}

/*Top header section*/
.top_header{
	background-image: linear-gradient(#444e96,#1b3682);
	display: inline-block;
	width: 100%;
}
.list_text{
	color: white;
}
.left_content{
	float: left;
}
.right_content{
	float: right;
	padding:10px;
}
.signin{
	background-image: linear-gradient(#f8d86d, #e6a02b);
}
.register{
	background-image: linear-gradient(#ea7a4c, #cf1e2d);
}
.mdc-button:not(:disabled) {
	color: white;
	text-transform: uppercase;
}
.selector{
	border-bottom: 15px;
}
.selector li{
	border-right: 1px solid white;
	color: white;
	padding: 10px 20px;
}
.selector li:last-child{
	border-right: none;
}
/*middel header section*/
.middle_header{
	display: inline-block;
	width: 100%;
}
.logo{
	float: left;
}
.logo img{
	height: 60px;
	width: 80px;
	margin: 15px;
}
.list_content{
	float: right;
}
.list_content li{
	padding: 30px 20px;
}
/*bottom header section*/
.bottom_header{
	background-image: linear-gradient(#5a9bd1,#3b81be);
	display: inline-block;
	width: 100%;
}
.searchbar{
	box-sizing: border-box;
	height:40px;
	margin: 10px;
	width: 35%;
	margin-left: 310px;
}
.letsgo{
	background-image: linear-gradient(#fddd76,#e7a537);
	width:51%;
	height: 100%;
	border: none;
	outline: none;
	border-radius: 0px 10px 10px 0px;
}
.mdc-list-item__graphic{
	margin-right: 0px;
}
/*slider contect 1st section*/
.slider img{
	height: 600px;
}
.slider{
	max-width: 100%;
	min-width: 100%;
	max-height: 100%;
}
.slick-arrow {
	top: 0;
	bottom: 0;
	margin: auto;
	position: absolute;
	height: 25px;
	border: none;
}
button.slick-prev {
	left: 0;
	z-index: 1;

}
button.slick-next {
	right:  0;
	z-index: 1;
}
/*content description*/
.offer_header, .offer_content{
	color: black;
}
.description{
	top: 0;
	right: 0;
	margin: auto;
	left: 0;
	bottom: 0;
	position: absolute;
	z-index: 1;
	text-align: justify;
	display: table;
	width: 100%;
	margin-top: 500px;
}







